header
	.header
		ul.nav 
			li 
				a(href="signIn.pug").nav-Link Вход
			li 
				a(href="signUp.pug").nav-Link Регистрация
			li 
				a(href="chat.pug").nav-Link Чат
			li 
				a(href="profile.pug").nav-Link Профиль
			li 
				a(href="card.pug").nav-Link Карточка