<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Яндекс практикум
		link(rel="stylesheet", href="/src/css/styles.css")
		script(src="main.js") 
	body
		a(href="signIn.pug") Вход
		a(href="signUp.pug") Регистрация
